.left-content {
	position: fixed;
	width: 230px;	/*width menu*/
	height: 100%;
	background-color: #2A3F54;
}
.right-content{
	margin-left: 230px;	/*width menu*/
	height: 100%;
}
/*nav title*/
.left-navbar .nav-title {
	padding: 0px 10px;
	margin-top:10px;
}
.left-navbar .nav-title a {
	text-decoration: none;
	display:block;
	height: 51px;
	padding: 10px 15px;
}
.left-navbar .nav-title span {
	color:#ECF0F1;
	font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
	font-size: 20px;
}
/*end nav title*/

/*nav profile*/
.left-navbar .nav-profile {
	margin: 10px 0px;
}
.left-navbar img {
	width: 60px;
	height: 60px;
	border:2px solid #FFF;
	margin: 0px 11px 20px 11px;
	float:left;
}
.left-navbar .prolife-welcome {
	font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
	color:#BAB8B8;
}
.left-navbar .prolife-welcome p {
	color:#FFF;
	margin-top:2px;
	margin-bottom:5px;
}
.left-navbar .prolife-welcome .edit{
	font-size:18px;
	color:#BAB8B8;
	margin: 0px 10px;
}
.left-navbar .prolife-welcome .signout{
	color: #627C99;
	font-size:18px;
	margin: 0px 10px;
}
/*end nav profile*/

/*nav text link*/
.navbar-default .navbar-ex1-collapse > a
{
	text-decoration: none;
	margin-left:0px;
	padding-left:15px;
}
.navbar-default .navbar-ex1-collapse > a.child
{
	border-left: 2px solid #C1C1C1;
}
.navbar-default .navbar-ex1-collapse > a.current
{
	border-left: 2px solid #C1C1C1;
	color:blue;
}
/*end nav text link*/

/*nav items*/
.left-navbar .navbar-nav > li >a {
	padding: 17px 24px;
	color:#E7E7E7;
	font-size: 15px;
	font-family: "Open Sans", Lora, Arial, "Droid Sans", sans-serif;
}
.left-navbar .navbar-nav > li >a>i {
	padding-right:7px;
	font-size: 16px;
}
.left-navbar .navbar-nav li.active {
	border-right: 7px solid #1ABB9C;
}
.left-navbar .navbar-nav li.active > a {
	color:#000000;
}
.left-navbar .navbar-nav > li > a:hover ,.left-navbar .navbar-nav > li > a:focus{
	background-color: #e7e7e7;
	color:#000;
}
/*end nav items*/

.center-content {
	margin-top: -20px;
	padding-top: 20px;
}

.panel {
	border-radius: 3px;
	border-width: 2px;
}
.panel:hover {
	border:2px solid #A2B4F9;
}
.panel-heading {
	padding: 0px;
}
.panel-heading > a{
	text-decoration: none;
	display: block;
	padding: 10px 13px;
}

.alert-default {
	background-color: #337ab7;
	color:#ECF0F1;
}

/*form login*/
.login-title {
	width:100%;
	height: auto;
	margin: 30px auto 0px;
	text-align: center;
}
.login-title p {
	color:#636b6f;
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 60px;
}

.login-form {
	width: 350px;
	background-color: #E4E4E4;
	padding:20px 30px;
	border-radius: 4px;
	margin:35px auto 70px;
	overflow-x: auto;
}
.login-form .user-img {
	text-align: center;
	margin-bottom: 20px;
}
.login-form .user-img img {
	width:120px;
	height: auto;
}
.login-form input {
	height:45px;
	font-size: 16px;
	border-radius: 2px;
}
.login-form button[type=submit] {
	height:38px;
	width:100%;
	font-size: 16px;
	border-radius: 2px;
}
.login-form a {
	float:right;
	margin-top: 8px;
}
/*end form login*/

/*form*/
[class^='col-md-'] {
	padding-top: 5px;
	padding-bottom: 5px;
}
.fa-asterisk {
	color:red;
	font-size: 9px;
	margin:0px 5px;
}
.img-product-form {
	margin-top:10px;
	text-align: center;
}
.img-product-form input[type="file"]{
	display: none;
}
.img-product-form label[for="up_file"]{
	cursor: pointer;
}
.product-form {
	padding-bottom: 50px;
}
.product-form img{
	border:2px solid #d9edf7;
	border-radius: 4px;
}
.product-form form > .row {
	margin-bottom: 10px;
}
.form-add-category {
	text-align: center;
}
.form-add-category a {
	padding:5px 0px;
	display:block;
	border: 2px dashed #D7D7D7;
	background-color: #F5F5F5;
}
.form-add-category i {
	color: #D7D7D7;
}
.form-add-category a:hover {
	border-color:  #B2B2B2;
}
.form-add-category a:hover i {
	color: #B2B2B2;
}
#category-modal .modal-body .checkbox label {
	display: block;
	font-size: 17px;
	padding-top: 3px;
	max-height: 320px;
	overflow-y: auto;
}
#category-modal .modal-body{
	max-height: 320px;
	overflow-y: auto;
}
.wrap-image-color-product {
	text-align: center;
	position: relative;
}
.wrap-image-color-product img {
	cursor: pointer;
}
.wrap-image-color-product label:hover button{
	display: inline;
}
.wrap-image-color-product input {
	display:none;
}
.wrap-image-color-product label button{
	position: absolute;
	left: 0px;
	display: none;
	width:100%;
	border-radius: 2px;
}
.form-add-color {
	max-width: 241px;
	max-height: 241px;
	margin:auto;
	position: relative;
	cursor: pointer;
}
.form-add-color img {
	margin-top:5px;
	border: 2px dashed #D7D7D7;
}
.form-add-color i {
	font-size: 40px;
	position: absolute;
	top:43%;
	left: 43%;
}
.form-add-color i {
	color: #D7D7D7;
}
.form-add-color:hover img{
	border-color:  #B2B2B2;
}
.form-add-color:hover i {
	color: #B2B2B2;
}
.add:hover, .add:active, .add:visited, .add:link{
	color:black;
	text-decoration: none;
}
.add label{
	cursor: pointer;
}
.add i {
	padding-right: 10px;
	font-size: 18px;
	color:#a94442;
}
.add .fa-caret-down {
	display: none;
}
#wrap-add-property .form-control {
	width:50%;
}
#wrap-add-property .form-group:first-child {
	text-align: center;
}
#wrap-add-property a {
	padding:5px 0px;
	display:block;
	border: 2px dashed #D7D7D7;
	background-color: #F5F5F5;
}
#wrap-add-property a i {
	color: #D7D7D7;
}
#wrap-add-property a:hover {
	border-color:  #B2B2B2;
}
#wrap-add-property a:hover i {
	color: #B2B2B2;
}
#property-modal .modal-body .checkbox label {
	display: block;
	font-size: 17px;
	padding-top: 3px;
	max-height: 320px;
	overflow-y: auto;
}
#property-modal .modal-body{
	max-height: 320px;
	overflow-y: auto;
}
#wrap-add-promotion .form-group:first-child {
	text-align: center;
}
#wrap-add-promotion a {
	padding:5px 0px;
	display:block;
	border: 2px dashed #D7D7D7;
	background-color: #F5F5F5;
}
#wrap-add-promotion a i {
	color: #D7D7D7;
}
#wrap-add-promotion a:hover {
	border-color:  #B2B2B2;
}
#wrap-add-promotion a:hover i {
	color: #B2B2B2;
}
#promotion-modal .modal-body .checkbox label {
	display: block;
	font-size: 17px;
	padding-top: 3px;
	max-height: 320px;
	overflow-y: auto;
}
#promotion-modal .modal-body{
	max-height: 320px;
	overflow-y: auto;
}
#product-related-modal .modal-body .checkbox label {
	display: block;
	font-size: 17px;
	padding-top: 3px;
	max-height: 320px;
	overflow-y: auto;
}
#product-related-modal .modal-body{
	max-height: 320px;
	overflow-y: auto;
}
.form-add-product-related {
	max-width: 241px;
	max-height: 241px;
	margin:auto;
	position: relative;
	cursor: pointer;
}
.form-add-product-related img {
	margin-top:5px;
	border: 2px dashed #D7D7D7;
}
.form-add-product-related i {
	font-size: 40px;
	position: absolute;
	top:43%;
	left: 43%;
}
.form-add-product-related i {
	color: #D7D7D7;
}
.form-add-product-related:hover img{
	border-color:  #B2B2B2;
}
.form-add-product-related:hover i {
	color: #B2B2B2;
}
.wrap-thumbnail-related {
	position: relative;
}
.wrap-thumbnail-related:hover button {
	display: inline;
}
.wrap-thumbnail-related button {
	position: absolute;
	width:100%;
	display: none;
}
/*end form*/

/*table search*/
.wrap-table table{
	border:2px solid #dff0d8;
}
.wrap-table thead{
	background-color: #dff0d8;
}
.wrap-pagination {
	text-align: center;
}
.wrap-tabs-content {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #DDD;
}
.wrap-tabs-content .tab-content{
	border-left: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
}
.wrap-tabs-content .tab-pane{
	padding:25px;
}
.wrap-tabs-content #name form .row div{
	padding: 5px 5px;
}
.wrap-tabs-content #promotion form .row div{
	padding: 5px 5px;
}
.wrap-tabs-content #category form .row .input-group{
	width:100%;
}
.wrap-tabs-content #property form .row:first-child .form-group {
	text-align: center;
}
.wrap-tabs-content #property form a {
	padding:5px 0px;
	display:block;
	border: 2px dashed #D7D7D7;
	background-color: #F5F5F5;
}
.wrap-tabs-content #property form a i {
	color: #D7D7D7;
}
.wrap-tabs-content #property form a:hover {
	border-color:  #B2B2B2;
}
.wrap-tabs-content #property form a:hover i {
	color: #B2B2B2;
}
.wrap-tabs-content #property form .input-group .form-control{
	width:50%;
}
.wrap-tabs-content #price form .radio label{
	margin-right: 30px;
}
/*end table search*/

/*import product file*/
.wrap-import input[type="file"] {
	display: none;
}
.wrap-import .input-group {
	width: 100%;
	margin-bottom: 20px
}
/*END import product file*/

@media (min-width: 768px)
{
	.navbar {
		background-color: #EDEDED;
		border-radius: 0px;
		border:1px solid #D0D0D0;
	}
	.navbar-brand {
		display: none;
	}
	.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-right li:hover{
		background-color: #D9DEE4;
	}
	.left-navbar ul, .left-navbar ul li{
		float:none;
	}
	.left-navbar {
		background-color: #2A3F54;
		position: absolute;
		width:230px;	/*width menu*/
		top:0px;
		left:-231px;
	}
}


@media (max-width: 768px) {
.left-content {
	display: none;
}
.right-content{
	float:right;
	width: 100%;
	height: 100%;
}
.navbar-brand {
	display: block;
}
.navbar-ex1-collapse {
	background-color: #2A3F54;
}
.left-navbar .nav-title {
	display: none;
}
.navbar-default .navbar-ex1-collapse .navbar-text {
	display: none;
}
}